<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Email Client</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="signedin">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/inbox']" routerLinkActive="router-link-active" >Inbox <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signout']" routerLinkActive="router-link-active" >Sign Out</a>
          </li>
        </ng-container>
        <ng-container *ngIf="!signedin">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']" routerLinkActiveOptions="{ exact: true }" routerLinkActive="router-link-active" >Sign In</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign Up</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>